html body{
    background-color: #40434E;
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    color: #fffffa;
    background-color: #702632;
    padding: 20px;
}
h1:hover{
    background-image: url('download.jfif');
    background-size: cover;
    background-position: center;
    transition-duration: 1000ms;
}
h3{
    text-align:center;
}
div{
    background-color: #912F40;
    color: #fffffa;
    padding: 10px;
    margin: 10px;
    float: left;
    width: 47%;
    border-radius: 5px;
    display:block;
}
footer{
    background-color: #702632;
    color: #fffffa;
    display:block;
    bottom:0;
    position:fixed;
    width: 100%;
}
a{
    color: #C2EFEB;
}